<div class="container-fluid" id="container_signin">
  <form id="lg_form">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="lg_email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="pass" name="pass" class="form-control" id="lg_pass" placeholder="Password">
        </div>
        <div id="lg_error"> <label *ngIf="invalid" id="lg_error_message">{{lg_error_message}}</label></div>
        <span> <button id="btn_loginSubmit" type="submit" class="btn btn-primary  btn-success" (click)="onSubmit()">Submit</button>  <button data-toggle="modal" data-target="#passRecovery"  id="btn_recoverypass" (click)="recoverPass()" class="btn btn-info">Recover password</button> </span>
  </form>
</div>

  <!--Modal Nuevo dataset -->
  <div class="modal fade" id="passRecovery" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"  id="container_signin">

            <!--header modal-->
        <div class="modal-header">
            <button type="button" id="hideRecovery" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel"><label>Password recovery</label></h3>
        </div>

            <!--body modal-->    
        <div class="modal-body">    
            <form  id="lg_form" enctype="multipart/form-data"> 
                    <div class="form-group">
                      <label>Do you want to recover your password? Please, enter the email account and confirm the operation. Your password will be sent at your email account.  </label>
                      <input type="text"  class="form-control"  id="email_recovery" required [(ngModel)]="email_recovery" name="email_recovery" placeholder="Email" #name_dataset="ngModel"> 
                    </div>
                    <div id="rg_error"> <label *ngIf="invalid_recovery" id="error_message"> {{error_msg_recovery}}</label></div>
                    <button type="button" class="btn btn-success btn-s"
                            (click)="passRecovery()">
                        <span class="glyphicon glyphicon-upload"></span> Confirm
                    </button>
                   
                </form>
            </div>
      </div>
    </div>
</div>
