.footer {
    position: fixed; bottom: 0px; width: 98%; height: 40px; background-color: black;
  }
  
  #id_footer {
      text-align: center;
  }
  
  .item_footer {
      color: grey;
      margin: 20px;
  }