<!--FOOTER-->
<footer class="footer">
	<div class="container-fluid">
        <p id="id_footer" > <a class="item_footer"  href="">Contact</a><a class="item_footer"   data-toggle="modal" data-target="#policy">Privacy Policy</a><a  class="item_footer"  data-toggle="modal" data-target="#terms"  href="">Terms of use</a></p>
    </div>
</footer>

 <!-- Modal -->
 <div class="modal fade" id="policy" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">PRIVACY POLICY</h4>
            </div>
            <div class="modal-body">
                    <p> <strong> PRIVACY POLICY </strong> </p> <p> &nbsp; </p>
                    <p> This privacy policy establishes the terms in which RpS Software uses and protects
                    the information that is provided by its users when using your website. This
                    The company is committed to the security of its users' data. When we ask
                    fill in the fields of personal information with which you can be identified, we do
                    ensuring that it will only be used in accordance with the terms of this document. However, this
                    privacy policy may change over time or be updated so we recommend
                    and we emphasize checking this page continuously to make sure you agree with said
                    changes. </p> <p> <strong> Information that is collected </strong> </p> <p> Our website may pick up
                    personal information for example: Name, &nbsp; contact information like &nbsp; your adress
                    of electronic mail and demographic information. Also, when necessary, it can be
                    required specific information to process an order or make a delivery or billing.
                    </p>
                    <p> <strong> Use of information collected </strong> </p> <p> Our website uses the information
                    in order to provide the best possible service, particularly to keep a record
                    of users, orders if applicable, and improve our products and services. &nbsp;
                    Emails may be sent periodically through our site with
                     special offers, new products and other advertising information that we consider relevant
                    For you or that may benefit you, these emails will be sent to the
                    address that you provide and may be canceled at any time. </p> <p> RpS Software
                     is highly committed to fulfill the commitment to keep your information safe.
                    We use the most advanced systems and update them constantly to make sure that there is no
                     no unauthorized access. </p> <p> <strong> Cookies </strong> </p> <p> A cookie refers to a
                    file that is sent for the purpose of requesting permission to be stored on your computer,
                    when accepting said file is created and the cookie then serves to have information regarding 
                    web traffic, and also facilitates future visits to a recurring website. Another function that
                     cookies have is that with them the web can recognize you individually and therefore provide
                      you with the best personalized service on your website. </p> <p> Our website uses 
                          cookies to identify the pages that are visited and their frequency. 
                          This information is used only for statistical analysis and then the information 
                          is permanently deleted. You can delete cookies at any time from your computer. 
                          However, cookies help to provide a better service for websites, you do not give
                           access to your computer information or you, unless you want it and provide it 
                           directly, <a href = "http: // cupondedescuento.com.co/pepe-ganga/ "target =" _ blank ">
                             visits to a website </a>. You can accept or deny the use of cookies, however
                              most browsers automatically accept cookies because it serves to have a better web
                               service. You can also change the configuration of your computer to decline cookies.
                                If you decline, you may not be able to use some of our services. </p> 
                                <p> <strong> Links to Third parties </strong> </p> <p> This website may contain 
                                    links to other sites that may be of your interest Once you click on these
                             links and leave our page, we no longer have control over the site to which
                           you are redirected and therefore we are not responsible for the terms or
                             privacy or the protection of your data in those other third party sites. These sites
                              are subject to their own privacy policies so it is recommended that you check them
                               to confirm that you agree with them. </p> <p> <strong> Control of your personal
                        information </strong> </p > <p> At any time you can restrict the collection
                             or use of personal information that is provided to our website. &nbsp; 
                            Each time you are asked to fill in a form, such as the user registration form, you
                             can check or uncheck the option to receive information by email. &nbsp; If 
                             you have marked the option to receive our newsletter or advertising, you can 
                             cancel it at any time. </p> <p> This company will not sell, transfer or distribute
                                  the personal information that is collected without your consent, unless is 
                                  required by a judge with a court order. </p> <p> RpS Software reserves the right
                           to change the terms of this privacy policy at any time. </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>


       <!-- Modal -->
  <div class="modal fade" id="terms" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Terms and Conditions of Use</h4>
            </div>
            <div class="modal-body">
                    <h2 style = "text-align: center;"> <strong> Terms and Conditions of Use </strong> </h2> <p> &nbsp;
                        </p> <p> <strong> RELEVANT INFORMATION </strong> </p> <p> Necessary requirement for acquisition
                         of the products offered on this site, that you read and accept the following Terms and Conditions that are written below. The use
                        of our services as well as the purchase of our products will imply that you have read and
                        accepted the Terms and Conditions of Use in this document. All the products &nbsp; that are offered
                        by our website could be created, charged, sent or presented by a page
                        third website and in such case they would be subject to their own Terms and Conditions. In some
                        cases, in order to acquire a product, registration by the user will be necessary, with
                        entry of reliable personal data and definition of a password. </p> <p> The user can choose and
                             change the password for their account administration access at any time, in case it has been
                              registered and that is necessary to the purchase of any of our products. RPS Online does not
                               assume responsibility in case that it gives this key to third parties. </p> <p> All 
                            purchases and transactions carried out through this website, are subject to a confirmation and 
                            verification process, which could include verification of the stock and product availability,
                             validation of the payment method, validation of the invoice (if any) and compliance with the 
                             conditions required by the selected means of payment. In some cases verification may be required
                              by email. </p> <p> The prices of the products offered in this Online Store are valid 
                                  only in purchases made on this website. </p> <p > <strong> LICENSE </strong> </p> 
                                <p> RPS Software &nbsp; through its website grants a license for users to use
                        &nbsp; the products that are sold on this website in accordance with the Terms
                         and Conditions described in this document. </p> <p> <strong> UNAUTHORIZED USE </strong> 
                            </p> <p> In case of that applies (for sale of software, templates, or other product 
                                design and programming) you can not place one of our products, modified or
                                 unmodified, on a CD, website or any other medium and offer them for
                                  redistribution or resale of any kind. </p> <p> <strong> PROPERTY </strong> </p>
                                     <p> You can not declare intellectual or exclusive property to any of our
                                          products, modified or unmodified. All products are property &nbsp;
                           of the content providers. In the event that it is not specified otherwise,
                                    our products are provided &nbsp; without any warranty, express or implied.
                                 In no case will this company be liable for any damages including,
                                but not limited to, direct, indirect, special, incidental
                             or consequential damages or other losses resulting from the use or inability to 
                             use our products. </p>
                            <p> <strong> REIMBURSEMENT AND GUARANTEE POLICY </strong> </p> <p> In
                         the case of products that are &nbsp;
                                     irrevocable non-tangible goods, we do not make refunds after 
                                    the product is shipped, you have the responsibility to understand 
                                    before buying it. &nbsp; We ask you to read carefully before buying 
                                    it. We only make exceptions with this rule when the description does 
                                    not fit the product. There are some products that could have a guarantee
                                     and possibility of reimbursement but this will be specified when buying 
                                     the product. In such cases the warranty will only cover manufacturing 
                                     faults and will only be effective when the product has been used correctly. 
                        The guarantee does not cover faults or damages caused by improper use. The terms of the 
                        guarantee are associated with manufacturing and operation failures under normal conditions
                         of the products and these terms will only be effective if the equipment has been used
                          correctly. This includes: </p> <p> - According to the technical specifications indicated
                         for each product. <br> - In environmental conditions according to the specifications
                          indicated by the manufacturer. <br> - In specific use for the function with which
                           was designed at the factory. <br> - Under electrical operating conditions in accordance 
                        with the indicated specifications and tolerances. </p> <p>
                             <strong> ANTI-FRAUD VERIFICATION </strong> </p> <p> The purchase of the customer
                                  may be postponed for the anti-fraud check. It can also be suspended for more time for a more rigorous investigation,
                                   to avoid fraudulent transactions. </p> <p> <strong> PRIVACY </strong> </p> <p> This
                          <a href = "http: // cupondedescuento.com.co/linio/ "target =" _ blank "> website
                        </a> RPS Online guarantees that the personal information you send has the necessary security. 
                         The data entered by the user or in the case of requiring a validation of the orders will not 
                        be delivered to third parties, unless it must be disclosed in compliance with a court order
                     or legal requirements. </p> <p> The subscription to newsletters Electronic advertising is 
                      voluntary and may be selected at the time of creating your account. </p> <p> 
                    RPS Software reserves the right to change or modify these terms without prior notice. </p> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>


      