<div class="container-fluid">
    <div class="row">
                    <app-navbar-dashboard></app-navbar-dashboard>
    </div>
    <div class="row" id="result">
        <div class="col-lg-2" id="tree_dataset" >
            <app-dataset-tree></app-dataset-tree>
        </div>
        <div class="col-lg-10" id="container_results">
            <div class="row" id="idGraphics">
                <app-graphics-dashboard></app-graphics-dashboard>
            </div>
            <div id="idResult" class="row" >
                <app-result-dashboard></app-result-dashboard>
            </div>
        </div>
    </div>
</div>
