

#navbar_id{
    width: 100%;
}
#idGraphics{
    height: auto;
    min-height: 350px;
    width:auto; 
}
#idResult {
    height:auto; 
    min-height: 450px;
    width:auto; 
}

#tree_dataset{
    height: 800px;
    width:20%;
    border-width: 0px;
    border-bottom: 0px;
    border-style: double;
    border-color:  #dfd265;
}

#dashboard{
    height: 100%;
    margin: 0px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

#container_results{
    width: 75%;
    height: 100%;
    margin-left: 20px;
}

#result{
      width: 100%;
}