

#navbar_id{
    width: 100%;
}
#idGraphics{
    height: 60%;
}
#idResult {
    height:200px; 
    width:auto; 
}

#tree_dataset{
    height:100%;
    width:20%;
}

#dashboard{
    margin-bottom: 15px;
}

#container_results{
    margin: 0%;
    width: 80%;
    height: 100%;
}

#result{
      width: 98%; margin-bottom: 10px;
}