<div class="fluid-container">
    <div class="row" >
        <app-navbar-dashboard></app-navbar-dashboard>
    </div>
    <div class="row">
        <div class="col-md-2" style="height:100%;">
            <app-dataset-tree></app-dataset-tree>
        </div>
        <div class="col-md-10">
            <div class="row"  style="height: auto;">
                <app-graphics-dashboard></app-graphics-dashboard>
            </div>
            <div id="idResult" class="row" style="height:200px; width:300px;  margin: 10px;">
                <app-result-dashboard></app-result-dashboard>
            </div>
        </div>
    </div>
</div>
