<div class="container-fluid" id="dashboard">
    <div class="row">
        <app-navbar-dashboard></app-navbar-dashboard>
    </div>
    <div class="row" id="result">
        <div class="col-lg-2" id="tree_dataset" > 
            <app-dataset-tree></app-dataset-tree>
        </div>
        <div class="col-lg-10" id="container_results" >
         <div style="margin-bottom:30px;" class="row" >
                <div class="row"><h4>Graphics:</h4></div>
                <div class="row"  id="idGraphics">
                    <app-graphics-dashboard></app-graphics-dashboard>
                </div>
         </div>
         <div style="margin-top:30px;" class="row">
                <div  class="row"> <h4>Tables and results: </h4></div>
            <div  id="idResult" class="row" >
                <app-result-dashboard></app-result-dashboard>
            </div>
         </div>
            
            
        </div>
    </div>
</div>
