

#navbar_id{
    width: 100%;
}
#idGraphics{
    height: auto;
    width:auto; 
}
#idResult {
    height:200px; 
    width:auto; 
}

#tree_dataset{
    height:100%;
    width:20%;
    border-right: 10px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: double;
    border-color:  #02264b;
}

#dashboard{
    margin-bottom: 15px;
    width: 100%;
}

#container_results{
    margin: 0%;
    width: 80%;
    height: 100%;
}

#result{
      width: 100%; 
}