/****** LOGIN MODAL ******/
#container_signup {
    padding: 20px;
    max-width: 350px;
    width: 100% !important;
    border-color:#02264b;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    border-style: double;
    border-width: 10px;
  }

  label  {
      color:#02264b
  }

  #emailHelp {
    color:#02264b
  }  

  button {
    background-color: #02264b;
  }