<div class="container-fluid" id="container_signup">
  <form id="rg_form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" [(ngModel)]="userRPS.name" name="name" class="form-control" id="rg_username" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" [(ngModel)]="userRPS.email" name="email" class="form-control" id="rg_email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" [(ngModel)]="userRPS.pass" name="pass" class="form-control" id="rg_pass" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPasswordConfirm">Confirm Password</label>
      <input type="password" [(ngModel)]="userRPS.pass_conf" name="passconf" class="form-control" id="rg_passConfirm" placeholder="Password Confirm">
    </div>
    <div class="form-group">
      <label for="country">Select the country of origin:</label>
      <select class="form-control" [(ngModel)]="userRPS.country" name="country" id="rg_country">
        <option *ngFor="let country of countries" [value]="country.country_id">{{country.country_name}}</option>
      </select>
    </div> 
    <div class="form-group">
      <label for="institution">Institution</label>
      <input type="text" [(ngModel)]="userRPS.institution" name="institution" class="form-control"  id="rg_institution" placeholder="Enter institution">
    </div>
    <div class="form-group">
      <label for="area">Area</label>
      <input type="text" [(ngModel)]="userRPS.area" name="area" class="form-control" id="rg_area" placeholder="Enter the work area">
    </div>
    <div id="rg_error"> <label *ngIf="invalid" id="error_signup"> {{error_msg}}</label></div>
    <button id="btn_registerSubmit" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
