<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Projects
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#projects" class="collapsed">
                  <a><i class="fa fa-gift fa-lg"></i> Datasets <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="projects">
                    <li class="active"><a>Data1</a></li>
                    <li><a>Data2</a></li>
                    <li><a>Data3</a></li>         
                </ul>


                <li data-toggle="collapse" data-target="#analysis" class="collapsed">
                  <a ><i class="fa fa-globe fa-lg"></i> Analysis <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="analysis">
                  <li>Anali1</li>
                  <li>Anali2</li>
                  <li>Anali3</li>
                </ul>
            </ul>
     </div>
</div>