
 <div class="modal-dialog">
	<div class="loginmodal-container">
			<h1>Login to Your Account</h1><br>
			<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

                    <div class="form-group">
                            <label for="email"> Email </label>
					        <input type="text"  class="form-control"  id="email" required [(ngModel)]="user.email" name="email"  #email="ngModel"> 
                            <div [hidden]="email.valid || email.pristine"
                                class="alert alert-danger" id="invalid_email">
                                Email is required
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="pass"> Password </label>
                            <input type="password" class="form-control" id="pass"  required [(ngModel)]="user.pass" name="pass" placeholder="" #pass="ngModel">                    
                            <div [hidden]="pass.valid || pass.pristine"
                                class="alert alert-danger" id="invalid_pass">
                                Password is required
                            </div>
                      </div>
					  <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
                       <div class="form-group" *ngIf="invalid">
                            <label id="error_Register">{{error}}</label>
                     </div>
			</form>
					
			<div class="login-help">
				<a routerLink="/register" href="#">Register</a> - <a href="#">Forgot Password</a>
			</div>
	</div>
</div>
