
<div class="container-fluid">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand"  >RPS Online</a></li>
                <li><a data-toggle="modal" data-target="#addProject"  ><span class="glyphicon glyphicon-plus"></span>Add Project</a></li>
                <li><a data-toggle="modal" data-target="#uploadFile"  ><span class="glyphicon glyphicon-open"></span>Upload Dataset</a></li>
                <li><a data-toggle="modal" data-target="#myModal"  ><span class="glyphicon glyphicon-download-alt"></span>Download Dataset</a></li>
                <li class="dropdown"><a   class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-list-alt"></span>Analysis<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a  data-toggle="modal" data-target="#runProcrustes">Procrustes Analysis</a></li>
                        <li><a  data-toggle="modal" data-target="#runDistances">Distances</a></li>
                        <li><a data-toggle="modal" data-target="#runOrdinations" >Ordinations</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">  
                  <li   class="dropdown"><a   class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-envelope"></span>Inbox <span class="label label-info">32</span>
                  </a>
                  <ul   class="dropdown-menu">
                        <li><a  ><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
                        <li><a  ><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
                        <li><a  ><span class="label label-warning">5:00 AM</span>Subscriber focused email
                            design</a></li>
                        <li class="divider"></li>
                        <li><a   class="text-center">View All</a></li>
                 </ul>
                 </li>
                <li   class="dropdown"><a   class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-user"></span>Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a  ><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li><a  ><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </nav>
  </div>
  
  
  
  
  <!--MODALS -->
  
  <!--Modal Nuevo dataset -->
  <div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
  
              <!--header modal-->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h3 class="modal-title" id="lineModalLabel">Upload Dataset File</h3></div>
  
              <!--body modal-->    
          <div class="modal-body">    
              <form method="post"  enctype="multipart/form-data"> 
                      <div class="form-group">
                      <label for="project_for_data"  class="control-label">Select Project to dataset</label>
                          <div>
                              <select  id="project_for_data"   class="form-control"  required [(ngModel)]="dataset.project_for_data" name="project_for_data" #project_for_data="ngModel">
                                  <option *ngFor="let procj of project_list" [value]="procj.project_id">{{procj.project_name}}</option>
                              </select>
                          </div> 
                      </div>
                      <div class="form-group">
                          <label>Name dataset: </label>
                          <input type="text"  class="form-control"  id="name_dataset" required [(ngModel)]="dataset.dataset_name" name="name_dataset" placeholder="Name" #name_dataset="ngModel"> 
                      </div>
                      <div class="form-group">
                      <label>File input</label>
                      <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
                      </div>  
                      <button type="button" class="btn btn-success btn-s"
                              (click)="upload()">
                          <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                  </form></div>
          
              <!-- footer modal -->
          <div class="modal-footer">
          <div class="btn-group btn-group-justified" role="group" aria-label="group button">
          <div class="btn-group" role="group">
              <button type="button" id="hideAddDataset" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
          </div>
          <div class="btn-group btn-delete hidden" role="group">
              <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
          </div>
          </div></div></div>
      </div>
  </div>
  
  <!-- Modal Nuevo proyecto -->
  <div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
  
              <!--header modal-->
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="lineModalLabel">Add new Project</h3> </div>
              <!--body modal-->    
              <div class="modal-body">    
                  <form method="post"  enctype="multipart/form-data"> 
                  <div class="form-group">
                      <label for="country"  class="control-label">Project Name: </label>
                      <input type="text"  class="form-control"  id="name_project" required [(ngModel)]="project.name" name="name" placeholder="Project name" #name="ngModel">
                      <label for="country"  class="control-label">Project Description: </label>
                      <input type="text"  class="form-control"  id="description_project" required [(ngModel)]="project.description" name="name" placeholder="Project description" #name="ngModel"> 
                  </div>
                  <button type="button" class="btn btn-success btn-s"
                              (click)="confirmProject()">
                          <span class="glyphicon glyphicon-upload"></span> Confirm
                      </button>
                  </form></div>
          
              <!-- footer modal -->
              <div class="modal-footer">
                  <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                      <div class="btn-group" role="group">
                          <button type="button" id="hideAddProject" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                      </div>
                      <div class="btn-group btn-delete hidden" role="group">
                          <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                      </div>
                  </div></div></div></div>
  </div>
  

    <!-- Modal Nuevo Analisis procrustes -->
    <div class="modal fade" id="runProcrustes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!--header modal-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">New Procrustes Analysis</h3> </div>
                <!--body modal-->
                <div class="modal-body">    
                    <form method="post"  enctype="multipart/form-data"> 
                        <div class="form-group">
                            <label for="project_for_data"  class="control-label">Select Project: </label>
                                <div>
                                    <select  id="project_for_data" (change)="selectedProject($event)"  class="form-control"  required [(ngModel)]="analyze.project_selected" name="project_selected" #project_for_data="ngModel">
                                        <option *ngFor="let procj of project_list" [value]="procj.project_id">{{procj.project_name}}</option>
                                    </select>
                                </div> 
                        </div>
                        <div class="form-group">
                            <label for="datasets"  class="control-label">Select Dataset to analyze: </label>
                                <div>
                                    <select  [disabled]="datasetEnable" id="datasets"   class="form-control"  required [(ngModel)]="analyze.dataset_selected" name="project_for_data" #project_for_data="ngModel">
                                        <option *ngFor="let dataset of dataset_list" [value]="dataset.dataset_id">{{dataset.dataset_name}}</option>
                                    </select>
                                </div> 
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="analyze.algorithm_selected" [value]=1 >Generalizaded Least-Squares Procrustes Superimposition (GlsP)</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="analyze.algorithm_selected" [value]=2 >Generalizaded Resistant Procrustes Superimposition (GrP)</label>
                              </div>
                        </div>

                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="analyze.show_consensus_selected">Show consensus</label>
                              </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="country"  class="control-label">Tab Name: </label>
                            <input type="text"  class="form-control"  id="analyze.tab_name_analysis" required [(ngModel)]="tab_name_analysis" name="tab_name_analysis" placeholder="" #name="ngModel">
                        </div>

                        <button type="button" class="btn btn-success btn-s"
                                (click)="confirmAnalysis()">
                            <span class="glyphicon glyphicon-upload"></span> Confirm
                        </button>
                    </form></div>
            
                <!-- footer modal -->
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" id="hideRunAnalysis" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                        </div>
                        <div class="btn-group btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                        </div>
                    </div></div></div></div>
    </div>


     <!-- Modal Distances -->
     <div class="modal fade" id="runDistances" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!--header modal-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">New Procrustes Analysis</h3> </div>
                <!--body modal-->
                <div class="modal-body">    
                    <form method="post"  enctype="multipart/form-data"> 
                        <div class="form-group">
                            <label for="project_for_data"  class="control-label">Select Project: </label>
                                <div>
                                    <select  id="project_for_data" (change)="selectedProjectDistance($event)"  class="form-control"  required [(ngModel)]="distance.project_id" name="project_selected" #project_for_data="ngModel">
                                        <option *ngFor="let procj of project_list" [value]="procj.project_id">{{procj.project_name}}</option>
                                    </select>
                                </div> 
                        </div>
                        <div class="form-group">
                            <label for="datasets"  class="control-label">Select Dataset to analyze: </label>
                                <div>
                                    <select  [disabled]="datasetEnable" id="datasets"   class="form-control"  required [(ngModel)]="distance.dataset_id" name="project_for_data_distance" #project_for_data_distance="ngModel">
                                        <option *ngFor="let dataset of dataset_list" [value]="dataset.dataset_id">{{dataset.dataset_name}}</option>
                                    </select>
                                </div> 
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="distance.algorithm_selected" [value]=1 >Least-Squares Distance (LsD)</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="distance.algorithm_selected" [value]=2 >Resistant Distance(rD)</label>
                              </div>
                        </div>

                        <div class="form-group">
                            <label for="country"  class="control-label">Tab Name: </label>
                            <input type="text"  class="form-control"  id="distance.tab_name_analysis" required [(ngModel)]="distance.tab_name_analysis" name="tab_name_analysis" placeholder="" #name="ngModel">
                        </div>

                        <button type="button" class="btn btn-success btn-s"
                                (click)="confirmDistance()">
                            <span class="glyphicon glyphicon-upload"></span> Confirm
                        </button>
                    </form></div>
            
                <!-- footer modal -->
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" id="hideRunAnalysisDistance" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                        </div>
                        <div class="btn-group btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                        </div>
                    </div></div></div></div>
    </div>

    

    <!-- Modal Ordination -->
         <div class="modal fade" id="runOrdinations" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!--header modal-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">New Procrustes Analysis</h3> </div>
                    <!--body modal-->
                    <div class="modal-body">    
                        <form method="post"  enctype="multipart/form-data"> 
                            <div class="form-group">
                                <label for="project_for_data"  class="control-label">Select Project: </label>
                                    <div>
                                        <select  id="project_for_data" (change)="selectedProjectOrdination($event)"  class="form-control"  required [(ngModel)]="ordination.project_id" name="project_selected" #project_for_data="ngModel">
                                            <option *ngFor="let procj of project_list" [value]="procj.project_id">{{procj.project_name}}</option>
                                        </select>
                                    </div> 
                            </div>
                            <div class="form-group">
                                <label for="datasets"  class="control-label">Select Dataset to analyze: </label>
                                    <div>
                                        <select  [disabled]="datasetEnable" id="datasets"   class="form-control"  required [(ngModel)]="ordination.dataset_id" name="project_for_data" #project_for_data="ngModel">
                                            <option *ngFor="let dataset of dataset_list" [value]="ordination.dataset_id">{{dataset.dataset_name}}</option>
                                        </select>
                                    </div> 
                            </div>

                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="algorithm" [(ngModel)]="ordination.algorithm_selected" [value]=1 >Universal Least-Squares MDS (lsUMDS)</label>
                                  </div>
                                  <div class="radio">
                                    <label><input type="radio" name="algorithm" [(ngModel)]="ordination.algorithm_selected" [value]=2 >Universal Resistant MDS (rUMDS)</label>
                                  </div>
                            </div>
    
                            <div class="form-group">
                                <label for="country"  class="control-label">Tab Name: </label>
                                <input type="text"  class="form-control"  id="tab_name_analysis" required [(ngModel)]="ordination.tab_name_analysis" name="tab_name_analysis" placeholder="" #name="ngModel">
                            </div>
  
                            <button type="button" class="btn btn-success btn-s"
                                    (click)="confirmOrdination()">
                                <span class="glyphicon glyphicon-upload"></span> Confirm
                            </button>
                        </form></div>
                
                    <!-- footer modal -->
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" id="hideAnalysisOrdination" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                            </div>
                            <div class="btn-group btn-delete hidden" role="group">
                                <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                            </div>
                        </div></div></div></div>
        </div>