<table cellspacing="0" class="sites-layout-hbox" style="margin-bottom: 50px; padding: 5px;">
<tbody>
<tr>
  <td align="justify" class="sites-layout-tile sites-tile-name-content-1">
        <div dir="ltr"><div style="color:rgb(34,34,34)"><font face="verdana, sans-serif" size="3">
        <br></font></div><div style="text-align:left"><font face="verdana, sans-serif" size="3">
        <font color="#000000">Morphometric studies have long been using Cartesian coordinates of anatomical points or&nbsp;</font><font color="#0b5394"><i>landmarks</i>&nbsp;
        </font><font color="#000000">to extract&nbsp;<span style="background-color:transparent">shape information. Shape differences between individuals are usually analyzed by performing a</span><span style="background-color:transparent">&nbsp;</span>
        </font><span style="background-color:transparent">
        <font color="#0b5394"><i>Procrustes superposition</i></font>
        </span><i style="color:rgb(34,34,34);background-color:transparent">&nbsp;</i>
        <span style="background-color:transparent"><font color="#000000">of the corresponding landmark configurations, and which superposition criterion should be used is a central issue.</font></span></font></div>
        <div style="text-align:left;color:rgb(34,34,34)"><span style="background-color:transparent">
        <font face="verdana, sans-serif" size="3"><br></font></span></div><div style="text-align:left">
        <font face="verdana, sans-serif" size="3"><font color="#000000">Typically, <i>the&nbsp;least squares&nbsp;Procrustes superposition </i>is chosen;&nbsp;it minimizes the sum of squared distances&nbsp;<span style="background-color:transparent">across landmarks</span>
        <span style="background-color:transparent">, but it is widely known that the result can be</span><span style="background-color:transparent">&nbsp;</span><span style="background-color:transparent">misleading</span><span style="background-color:transparent">&nbsp;</span>
        <span style="background-color:transparent">whenever shape differences are located&nbsp;</span><span style="background-color:transparent">in</span><span style="background-color:transparent">&nbsp;</span><span style="background-color:transparent">up to 50%</span><span style="background-color:transparent">&nbsp;</span><span style="background-color:transparent">of the landmarks. A</span>
        </font><span style="background-color:transparent"><font color="#000000" style="font-style:italic">&nbsp;</font><font color="#0b5394"><i>resistant</i></font></span><span style="background-color:transparent"><font color="#0b5394"><i>&nbsp;</i></font></span><span style="background-color:transparent"><font color="#0b5394"><i>Procrustes superposition</i></font><font color="#222222">, </font>
        <font color="#000000">based&nbsp;</font></span><span style="background-color:transparent"><font color="#000000">on a&nbsp;</font></span><i><font color="#0b5394">
        <span style="background-color:transparent">repeated medians</span><span style="background-color:transparent">&nbsp;</span></font></i><span style="background-color:transparent"><i><font color="#0b5394">technique </font></i>
        <font color="#000000">(<a href="http://link.springer.com/article/10.1007%2Fs11692-013-9264-1" rel="nofollow">Torcida et al. 2014</a>, <a href="http://www.jstor.org/stable/2530448?seq=1#page_scan_tab_contents" rel="nofollow">Siegel &amp; Benson 1982</a>) is probably the most elegant and efficient alternative.</font></span>
        </font></div></div>
</td>
<td><img border="0" height="249" [src]="'assets/picos.png'" alt="image" width="400"></td>
<tr>
<td>
    <img border="0" height="249" [src]="'assets/caracoles.png'" alt="image" width="400" style="margin-left: 5px;">
</td>
<td align="justify" class="sites-layout-tile sites-tile-name-content-2"><div dir="ltr"><div style="color:rgb(34,34,34)"><span style="color:rgb(0,0,0);font-family:Arial;font-size:14.6667px;white-space:pre-wrap;background-color:transparent"><br></span></div><div><font size="3" style="background-color:transparent"><font><span style="font-weight:bold;font-family:verdana,sans-serif"><font color="#0b5394">RPS (Resistant Procrustes Software)</font></span><font color="#000000">
        <font face="verdana, sans-serif" style="font-weight:bold">&nbsp;</font><font face="verdana, sans-serif">is an application that&nbsp;</font></font></font>
        <font color="#000000"><font><font face="verdana, sans-serif">implements a compact a</font>
        <font face="verdana, sans-serif">nd integrated framework for landmark-based resistant shape analysis of 2D and 3D datasets. Fully based on (</font></font><span style="font-family:verdana,sans-serif"><a href="http://link.springer.com/article/10.1007%2Fs11692-013-9264-1" rel="nofollow">Torcida et al. 2014</a></span>
        <font style="font-family:verdana,sans-serif">), its main functionalities are:</font></font></font></div><div><ul><li><span style="font-family:verdana,sans-serif;font-size:medium;background-color:transparent"><font color="#000000">a </font><i><font color="#0b5394">generalized resistant Procrustes superposition</font></i>
        <font color="#000000">;</font></span></li><li><span style="color:rgb(0,0,0);font-family:verdana,sans-serif;font-size:medium;background-color:transparent">a coherent&nbsp;</span><span style="font-family:verdana,sans-serif;font-size:medium;background-color:transparent"><i><font color="#0b5394">resistant distance</font></i><font color="#000000">,</font></span><span style="color:rgb(0,0,0);font-family:verdana,sans-serif;font-size:medium;background-color:transparent">&nbsp;to quantify the resulting shape differences, and</span></li>
        <li><span style="color:rgb(0,0,0);font-family:verdana,sans-serif;font-size:medium;background-color:transparent">a&nbsp;</span><span style="font-family:verdana,sans-serif;font-size:medium;background-color:transparent"><font color="#0b5394"><i>resistant Multidimensional Scaling</i></font><font color="#000000">,</font></span><span style="color:rgb(0,0,0);font-family:verdana,sans-serif;font-size:medium;background-color:transparent">&nbsp;to obtain a corresponding ordination.&nbsp;</span></li></ul></div><div>
        <font face="verdana, sans-serif" size="3"><font color="#000000">Least squares counterparts&nbsp;have also been implemented in </font><b><font color="#0b5394">RPS</font></b><font color="#222222">. </font><font color="#000000">In this way,&nbsp;</font></font><span style="font-family:verdana,sans-serif;font-size:medium;background-color:transparent"><font color="#000000">both resistant and least squares approaches can be applied to the same data in order to compare their results.&nbsp;</font></span></div><div style="text-align:left"></div>
        </div>
</td>

</tr>
 </tbody>
</table>
