   <!-- Modal Nuevo Analisis procrustes -->
   <div class="modal fade" id="runProcrustes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header modal-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">New Procrustes Analysis</h3> </div>
            <!--body modal-->
            <div class="modal-body">    
                <form method="post"  enctype="multipart/form-data"> 
                    <div class="form-group">
                        <label for="datasets"  class="control-label">Selected Dataset: <a> {{selected_dataset}} </a></label>
                    </div>
                    <div class="form-group">
                        <label>Select the specimens to analize: </label>
                        <div class="container">
                            <div class="row">
                                 <div class="col-lg-6">
                                    <div class="button-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span ></span>Specimens <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="specimens">
                                        <li><a  class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>Option 1</a></li>
                                        <li><a  class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>Option 2</a></li>
                                        <li><a  class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>Option 3</a></li>
                                        <li><a  class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>Option 4</a></li>
                                        <li><a  class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>Option 5</a></li>
                                        <li><a  class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>Option 6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                            <label>Select the landmarks to analize: </label>
                            <div class="container">
                                <div class="row">
                                     <div class="col-lg-6">
                                        <div class="button-group">
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span ></span>Landmarks<span class="caret"></span></button>
                                            <ul class="dropdown-menu" id="landmarks" >
                                            <li><a  class="small" data-value="option1" tabIndex="-1"><input type="checkbox" checked />Option 1</a></li>
                                            <li><a  class="small" data-value="option2" tabIndex="-1"><input type="checkbox"  />Option 2</a></li>
                                            <li><a  class="small" data-value="option3" tabIndex="-1"><input type="checkbox"  />Option 3</a></li>
                                            <li><a  class="small" data-value="option4" tabIndex="-1"><input type="checkbox"  />Option 4</a></li>
                                            <li><a  class="small" data-value="option5" tabIndex="-1"><input type="checkbox"  />Option 5</a></li>
                                            <li><a  class="small" data-value="option6" tabIndex="-1"><input type="checkbox"  />Option 6</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>

                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="algorithm" [(ngModel)]="analyze.algorithm_selected" [value]=1 >Generalizaded Least-Squares Procrustes Superimposition (GlsP)</label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="algorithm" [(ngModel)]="analyze.algorithm_selected" [value]=2 >Generalizaded Resistant Procrustes Superimposition (GrP)</label>
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <input type="checkbox"  [(ngModel)]="analyze.show_consensus_selected" name="show_consensus_selected" [value]=true >  Show consensus 
                          </div>
                    </div>                      
                    <div class="form-group">
                        <label for="country"  class="control-label">Tab Name: </label>
                        <input type="text"  class="form-control"  id="tab_name_analysis" required [(ngModel)]="analyze.dataset_name" name="tab_name_analysis" placeholder="" #name="ngModel">
                    </div>
                    <button type="button" class="btn btn-success btn-sm"
                            (click)="confirmAnalysis()">
                        <span class="glyphicon glyphicon-upload"></span> Confirm
                    </button>
                    <span *ngIf="processing"><h4>Analisys in process, please wait a few minutes...</h4></span>
                </form>
            </div>
        
            <!-- footer modal -->
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" id="hideRunAnalysis" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                    </div>
                    <div class="btn-group btn-delete hidden" role="group">
                        <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                    </div>
                </div></div></div></div>
</div>

 <!-- Modal Distances -->
 <div class="modal fade" id="runDistances" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--header modal-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">New Coherent Distance Matrix</h3> </div>
            <!--body modal-->
            <div class="modal-body">    
                <form method="post"  enctype="multipart/form-data"> 
                    <div class="form-group">
                        <label for="datasets"  class="control-label">Selected Dataset: <a> {{selected_dataset}} </a></label>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="algorithm" [(ngModel)]="distance.algorithm_selected" [value]=1 >Least-Squares Distance (LsD)</label>
                          </div>
                          <div class="radio">
                            <label><input type="radio" name="algorithm" [(ngModel)]="distance.algorithm_selected" [value]=2 >Resistant Distance(rD)</label>
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="country"  class="control-label">Tab Name: </label>
                        <input type="text"  class="form-control"  id="distance.tab_name_analysis" required [(ngModel)]="distance.distance_name" name="tab_name_analysis" placeholder="" #name="ngModel">
                    </div>

                    <button type="button" class="btn btn-success btn-s"
                            (click)="confirmDistance()">
                        <span class="glyphicon glyphicon-upload"></span> Confirm
                    </button>
                    <!--<div id="rg_error"> <label *ngIf="invalid" id="error_message"> {{error_msg}}</label></div>-->
                    <span *ngIf="processing"><h4>Analisys in process, please wait a few minutes...</h4></span>
                </form>
            </div>
        
            <!-- footer modal -->
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" id="hideRunAnalysisDistance" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                    </div>
                    <div class="btn-group btn-delete hidden" role="group">
                        <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ordination -->
     <div class="modal fade" id="runOrdinations" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!--header modal-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">New Universal Multidimensional Scaling</h3> </div>
                <!--body modal-->
                <div class="modal-body">    
                    <form method="post"  enctype="multipart/form-data"> 
                        <div class="form-group">
                            <label for="datasets"  class="control-label">Selected Distance Matrix: <a> {{selected_distance}} </a></label>
                        </div>

                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="ordination.algorithm_selected" [value]=1 >Universal Least-Squares MDS (lsUMDS)</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" name="algorithm" [(ngModel)]="ordination.algorithm_selected" [value]=2 >Universal Resistant MDS (rUMDS)</label>
                              </div>
                        </div>

                        <div class="form-group">
                            <label for="country"  class="control-label">Tab Name: </label>
                            <input type="text"  class="form-control"  id="tab_name_analysis" required [(ngModel)]="ordination.ordination_name" name="tab_name_analysis" placeholder="" #name="ngModel">
                        </div>

                        <button type="button" class="btn btn-success btn-s"
                                (click)="confirmOrdination()">
                            <span class="glyphicon glyphicon-upload"></span> Confirm
                        </button>
                        <!--<div id="rg_error"> <label *ngIf="invalid" id="error_message"> {{error_msg}}</label></div>-->
                        <span *ngIf="processing"><h4>Analisys in process, please wait a few minutes...</h4></span>
                    </form></div>
            
                <!-- footer modal -->
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" id="hideAnalysisOrdination" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                        </div>
                        <div class="btn-group btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>